* {
  box-sizing: border-box;
}

.container {
  max-width: 1138px;
  margin: 0 AUTO;
}

a {
  font-family: TS-Reg, sans-serif;
  color: black;
}

p {
  font-family: TS-Reg, sans-serif;
}

h1 {
  font-family: TS-Med, sans-serif;
  font-size: 54px;
  font-weight: bold;
  margin-top: 35px;
}
h1 span {
  color: rgb(231, 81, 81);
}

h2 {
  font-size: 28px;
  font-family: TS-Med, sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}

h3 {
  font-size: 24px;
  font-family: TS-Med, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.pub {
  height: 170px;
  background-color: grey;
}
.pub > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .hiddenAtStart,
header .hiddenAtStartButton {
  display: none;
}
header input {
  background-image: url(../img/loupe.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center left 10px;
  border-radius: 30px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  padding-left: 25px;
  flex: 1;
  height: 38px;
  line-height: 38px;
}
header img {
  width: 180px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav a {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: background 0.3s ease-in;
}
header nav a:hover {
  background-color: rgb(212, 212, 212);
}
header nav a span {
  margin-left: 5px;
}
header nav button {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition: background 0.3s ease-in;
}
header nav button:hover {
  background-color: rgb(70, 70, 70);
}

h1 + p {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}
h1 + p a {
  color: black;
  text-decoration: none;
}
h1 + p a:hover {
  text-decoration: underline;
}

.navBloc {
  padding: 10px 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navBloc > div {
  flex: 1;
}
.navBloc a {
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  color: black;
  padding: 11px 16px;
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 10px;
  transition: background, color, 0.3s ease-in;
}
.navBloc a:hover {
  background-color: black;
  color: white;
}
.navBloc .hidden {
  display: none;
}

.imgBloc {
  position: relative;
  display: flex;
  gap: 2px;
  height: 430px;
}
.imgBloc .imgBlocLeft {
  flex: 2;
  height: 100%;
}
.imgBloc .imgBlocLeft img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom 10px;
     object-position: bottom 10px;
  width: 100%;
  height: 100%;
}
.imgBloc .imgBlocRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}
.imgBloc .imgBlocRight div {
  width: 100%;
  flex: 1;
  height: calc((100% - 5px) / 2);
}
.imgBloc .imgBlocRight div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.lienPhotos {
  position: absolute;
  border: none;
  bottom: 20px;
  left: 20px;
  background-color: rgb(0, 0, 0);
  padding: 8px 7px;
  border-radius: 15px;
  transition: background 0.3s ease-in;
}
.lienPhotos:hover {
  background-color: rgba(84, 84, 84, 0.8);
}
.lienPhotos:hover a {
  text-decoration: underline;
}
.lienPhotos a {
  font-family: TS-Reg, sans-serif;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.labelBest {
  background-color: #f2b203;
  width: 84px;
  position: absolute;
  left: 50px;
}

.sousImg {
  margin-top: 25px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: TS-Reg, sans-serif;
  font-size: 12px;
  color: #333333;
}
.sousImg a {
  color: #333333;
  margin-right: 5px;
  text-decoration: none;
}
.sousImg a:hover {
  text-decoration: underline;
}

.sousImg a:not(:first-of-type) {
  margin-left: 5px;
}

article {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 70px;
}
article p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.Activity {
  position: relative;
  width: 100%;
  display: flex;
  position: relative;
  gap: 25px;
  margin-bottom: 85px;
}
.Activity > div:not(.caroussel) {
  flex: 0.33;
  font-size: 18px;
}
.Activity > div:not(.caroussel) > p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Activity .caroussel {
  flex: 1;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 10px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Activity .caroussel::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.Activity .caroussel .vignetteBottom {
  width: calc((100% - 30px) / 4);
  position: relative;
  flex-shrink: 0;
}
.Activity .caroussel .vignetteBottom:hover {
  cursor: pointer;
}
.Activity .caroussel .vignetteBottom:hover > .imgActivityBottom > img {
  opacity: 0.4;
}
.Activity .caroussel .vignetteBottom:hover h4 {
  text-decoration: underline;
}
.Activity .caroussel .vignetteBottom .imgActivityBottom {
  aspect-ratio: 270/270;
  position: relative;
  width: 100%;
}
.Activity .caroussel .vignetteBottom .imgActivityBottom .choice2023 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 35px;
  background-color: #f2b203;
  padding: 5px 1px 1px 1px;
  border-radius: 20px 20px 5px 5px;
  z-index: 1;
}
.Activity .caroussel .vignetteBottom .imgActivityBottom .choice2023 img {
  width: 100%;
}
.Activity .caroussel .vignetteBottom .imgActivityBottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.Activity .caroussel .vignette {
  width: calc((100% - 20px) / 3);
  position: relative;
  flex-shrink: 0;
}
.Activity .caroussel .vignette:hover {
  cursor: pointer;
}
.Activity .caroussel .vignette:hover > .imgActivity > img {
  opacity: 0.4;
}
.Activity .caroussel .vignette:hover h4 {
  text-decoration: underline;
}
.Activity .caroussel .vignette .imgActivity {
  aspect-ratio: 270/200;
  position: relative;
  width: 100%;
}
.Activity .caroussel .vignette .imgActivity .choice2023 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 35px;
  background-color: #f2b203;
  padding: 5px 1px 1px 1px;
  border-radius: 20px 20px 5px 5px;
  z-index: 1;
}
.Activity .caroussel .vignette .imgActivity .choice2023 img {
  width: 100%;
}
.Activity .caroussel .vignette .imgActivity img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.Activity .caroussel .txtActivity h4 {
  margin: 10px 0;
  font-weight: bold;
}
.Activity .caroussel .txtActivity span {
  display: inline-block;
  margin-top: 5px;
  font-size: 14;
  color: #333333;
}
.Activity .caroussel .heart {
  background-color: White;
  border-radius: 50%;
  border: none;
  position: absolute;
  font-size: 25px;
  padding: 5px;
  right: 10px;
  top: 10px;
}
.Activity .caroussel .heart i {
  translate: 0px 1px;
}
.Activity .caroussel .heart:hover {
  background-color: rgb(221, 221, 221);
}

.arrow {
  position: absolute;
  top: 47%;
  right: -1%;
}
.arrow i {
  background-color: #ffffff;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
  transition: background, color, 0.2s ease-in;
}
.arrow i:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.arrowLeft {
  position: absolute;
  transform: rotate(180deg);
  top: 47%;
  left: -1%;
  z-index: 1;
}
.arrowLeft i {
  background-color: #ffffff;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
  transition: background, color, 0.2s ease-in;
}
.arrowLeft i:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.hiddenAtStart2 {
  display: none;
}

.hiddenAtStart3 {
  display: none;
}

.tendance {
  position: relative;
  margin-bottom: 80px;
}

.tendance .top {
  display: flex;
  justify-content: space-between;
}

.tendance .top a {
  font-family: TS-Med, sans-serif;
  color: black;
}

.tendance > div:nth-child(2) {
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.tendance > div:nth-child(2)::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tendance div:nth-child(2) img {
  width: 45px;
  border-radius: 50%;
}

.tendance div:nth-child(2) div {
  width: calc((100% - 60px) / 3);
  background-color: #f9f0ea;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.tendance div:nth-child(2) p {
  word-wrap: break-word;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0;
  color: #333333;
  font-family: TS-Reg, sans-serif;
}

.tendance div:nth-child(2) a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: TS-Med, sans-serif;
  font-weight: bold;
}

.tendance div:nth-child(2) a:hover {
  text-decoration: underline;
}

.tendance .arrow {
  display: none;
  bottom: 25%;
  right: -1%;
}

.tendance > .arrowLeft {
  bottom: 25%;
  left: -3%;
}

footer {
  background-color: #faf1ec;
}
footer p {
  padding: 80px;
  text-align: center;
}
footer p a {
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}
footer p img {
  width: 55px;
  translate: 0px 40%;
  margin-right: 10px;
}

@media (max-width: 1180px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
  main .navBloc {
    flex-wrap: wrap;
    align-items: stretch;
  }
  main .navBloc > div {
    flex: none;
    width: calc((100% - 30px) / 4);
  }
  main .navBloc > div a {
    gap: 15px;
  }
  main .navBloc > .hidden {
    display: block;
  }
  main .imgBloc {
    height: 370px;
  }
}
@media (max-width: 1024px) {
  header > input {
    flex: none;
    width: calc(100% - 190px - 335px - 40px);
  }
  header > nav {
    width: 335px;
  }
  header > nav > a > span {
    display: none;
  }
  main .imgBloc {
    height: 280px;
  }
  main article {
    width: 100%;
  }
  main .Activity div:not(.caroussel) {
    flex: 0.5;
  }
  main .Activity .caroussel .vignetteBottom {
    width: calc((100% - 20px) / 3);
  }
  main .Activity .caroussel .vignette {
    width: calc((100% - 20px) / 2.5);
  }
  .tendance > div:nth-child(2) > div {
    width: calc((100% - 60px) / 2.5);
    flex-shrink: 0;
  }
  .tendance > .arrow {
    display: block;
  }
  .hiddenAtStart2 {
    display: block;
  }
}
@media (max-width: 768px) {
  header .hiddenAtStartButton {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
  }
  header .hiddenAtStartButton:hover {
    background-color: white;
    color: black;
    border: none;
  }
  header .hiddenAtStart,
  header .hiddenAtStartButton {
    display: block;
    position: relative;
  }
  header .hiddenAtStart > ul,
  header .hiddenAtStartButton > ul {
    width: 400px;
    position: absolute;
    background-color: white;
    z-index: 3;
    padding: 45px 10px 50px 30px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    left: -450px;
    top: -180px;
    box-shadow: 12px 12px 20px rgb(117, 116, 116);
    transition: all 0.3s ease-out;
  }
  header .hiddenAtStart > ul li:first-of-type button,
  header .hiddenAtStartButton > ul li:first-of-type button {
    margin: 0 20px;
    background-color: black;
    color: white;
    width: calc(100% - 40px);
    border-radius: 15px;
    padding: 10px;
    font-family: TS-Med;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  header .hiddenAtStart > ul li:first-of-type button:hover,
  header .hiddenAtStartButton > ul li:first-of-type button:hover {
    background-color: rgb(145, 145, 145);
  }
  header .hiddenAtStart > ul :nth-child(2) button,
  header .hiddenAtStart > ul :nth-child(3) button,
  header .hiddenAtStart > ul :nth-child(4) button,
  header .hiddenAtStart > ul :nth-child(5) button,
  header .hiddenAtStart > ul :nth-child(6) button,
  header .hiddenAtStartButton > ul :nth-child(2) button,
  header .hiddenAtStartButton > ul :nth-child(3) button,
  header .hiddenAtStartButton > ul :nth-child(4) button,
  header .hiddenAtStartButton > ul :nth-child(5) button,
  header .hiddenAtStartButton > ul :nth-child(6) button {
    text-align: left;
    background-color: #fff;
    border: none;
    margin: 0 20px;
    width: calc(100% - 40px);
    font-family: TS-Med;
    font-size: 18px;
    font-weight: bold;
  }
  header .hiddenAtStart > ul :nth-child(2) button:hover,
  header .hiddenAtStart > ul :nth-child(3) button:hover,
  header .hiddenAtStart > ul :nth-child(4) button:hover,
  header .hiddenAtStart > ul :nth-child(5) button:hover,
  header .hiddenAtStart > ul :nth-child(6) button:hover,
  header .hiddenAtStartButton > ul :nth-child(2) button:hover,
  header .hiddenAtStartButton > ul :nth-child(3) button:hover,
  header .hiddenAtStartButton > ul :nth-child(4) button:hover,
  header .hiddenAtStartButton > ul :nth-child(5) button:hover,
  header .hiddenAtStartButton > ul :nth-child(6) button:hover {
    text-decoration: underline;
  }
  header .hiddenAtStart > ul :nth-child(7) a,
  header .hiddenAtStart > ul :nth-child(8) a,
  header .hiddenAtStart > ul :nth-child(9) a,
  header .hiddenAtStart > ul :nth-child(10) a,
  header .hiddenAtStart > ul :nth-child(11) a,
  header .hiddenAtStart > ul :nth-child(12) a,
  header .hiddenAtStart > ul :nth-child(13) a,
  header .hiddenAtStart > ul :nth-child(14) a,
  header .hiddenAtStart > ul :nth-child(15) a,
  header .hiddenAtStart > ul :nth-child(16) a,
  header .hiddenAtStartButton > ul :nth-child(7) a,
  header .hiddenAtStartButton > ul :nth-child(8) a,
  header .hiddenAtStartButton > ul :nth-child(9) a,
  header .hiddenAtStartButton > ul :nth-child(10) a,
  header .hiddenAtStartButton > ul :nth-child(11) a,
  header .hiddenAtStartButton > ul :nth-child(12) a,
  header .hiddenAtStartButton > ul :nth-child(13) a,
  header .hiddenAtStartButton > ul :nth-child(14) a,
  header .hiddenAtStartButton > ul :nth-child(15) a,
  header .hiddenAtStartButton > ul :nth-child(16) a {
    display: block;
    margin: 0 20px;
    width: calc(100% - 40px);
    font-family: TS-Med;
    font-size: 18px;
    text-decoration: none;
  }
  header .hiddenAtStart > ul :nth-child(7) a:hover,
  header .hiddenAtStart > ul :nth-child(8) a:hover,
  header .hiddenAtStart > ul :nth-child(9) a:hover,
  header .hiddenAtStart > ul :nth-child(10) a:hover,
  header .hiddenAtStart > ul :nth-child(11) a:hover,
  header .hiddenAtStart > ul :nth-child(12) a:hover,
  header .hiddenAtStart > ul :nth-child(13) a:hover,
  header .hiddenAtStart > ul :nth-child(14) a:hover,
  header .hiddenAtStart > ul :nth-child(15) a:hover,
  header .hiddenAtStart > ul :nth-child(16) a:hover,
  header .hiddenAtStartButton > ul :nth-child(7) a:hover,
  header .hiddenAtStartButton > ul :nth-child(8) a:hover,
  header .hiddenAtStartButton > ul :nth-child(9) a:hover,
  header .hiddenAtStartButton > ul :nth-child(10) a:hover,
  header .hiddenAtStartButton > ul :nth-child(11) a:hover,
  header .hiddenAtStartButton > ul :nth-child(12) a:hover,
  header .hiddenAtStartButton > ul :nth-child(13) a:hover,
  header .hiddenAtStartButton > ul :nth-child(14) a:hover,
  header .hiddenAtStartButton > ul :nth-child(15) a:hover,
  header .hiddenAtStartButton > ul :nth-child(16) a:hover {
    text-decoration: underline;
  }
  header .hiddenAtStart:hover ul,
  header .hiddenAtStartButton:hover ul {
    translate: 410px;
  }
  header img {
    width: 135px;
  }
  header .hidden768 {
    display: none;
  }
  header > nav {
    width: -moz-fit-content;
    width: fit-content;
  }
  main .labelBest {
    background-color: #f2b203;
    padding-top: 5px;
    width: 30px;
    position: absolute;
    left: 30px;
    top: 10px;
    border-radius: 20px 20px 5px 5px;
  }
  main .navBloc {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  main .navBloc::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  main .navBloc > div {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 150px;
  }
  main .navBloc > div a {
    gap: 30px;
  }
  main .navBloc > .hidden {
    display: block;
  }
  main .imgBloc .imgBlocRight {
    display: none;
  }
  main .Activity {
    flex-direction: column;
  }
  main .Activity .caroussel {
    flex: none;
    width: 100%;
  }
  main .Activity .caroussel .vignette {
    width: calc((100% - 10px) / 1.2);
  }
  main .Activity .caroussel .vignetteBottom {
    width: calc((100% - 10px) / 1.5);
  }
  .tendance > div:nth-child(2) > div {
    width: calc((100% - 30px) / 1.5);
  }
  .hiddenAtStart3 {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */